<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dom Two</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../views/main dashboard.html'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">
</head>
<body>
   
    <div id="section-threee" class="sec-three">


        <div class="section3-img" id="sect-3">
             <a href="../views/main dashboard.html" onclick="showImageOne()" id="backto-dash"><img src="../images/roles image.png" alt="logo"></a> 
        </div>
   
        <div class="assign-select" id="asssign">
             <p class="this" >Assign this role</p>
             <p class="select">Select one or multiple employees to assign to this role <span> “Senior <br> Design Lead “</span></p>
        </div>
   
        <div class="searching-img">
   
                <div class="imgg-searchh">
                  
                  <div class="imgg">
                        <img class="img-111" src="../images/Search.svg" alt="img">    
                  </div>
                  <div class="search" style="margin-right: -900px;">
                       <textarea rows="3" placeholder=" Search for an indivdual or team"></textarea>
                  </div>
   
                </div>
             
                <div class="question-mark">
                  <img class="img-12" src="../images/Question icon.png" alt="img">
                </div>
   
        </div>

       <div class="main-sectionn">
          <div class="first-personn">
               <div class="imagetext-checkk">

                   <div class="imageee">
                          <img class="img-12" src="../images/PIC1.svg" alt="img">
                    </div>
                
                    <div class="jenifer-text">
                         <p class="jenn1">Jennifer Lopez</p>
                         <p class="des1">Product Designer, Integrations</p>
                    </div>

                    <div class="check1">
                         <img class="img-12" src="../images/_Checkbox base.svg" alt="img">
                    </div>

                </div>
            </div>


            <!-- second person -->
            <div class="first-person">
                <div class="imagetext-check">
 
                    <div class="imagee">
                           <img class="img-12" src="../images/PICC2.svg" alt="img">
                     </div>
                 
                     <div class="jenifer-text">
                          <p class="jenn">Tassy Omah </p>
                          <p class="des">Developer Relations, Payments</p>
                     </div>
 
                     <div class="check1">
                          <input type="checkbox" class="checkk">
                     </div>
 
                 </div>
            </div>

            <!-- third person -->

            <div class="first-person">
                <div class="imagetext-check">
 
                    <div class="imagee">
                           <img class="img-12" src="../images/PIC3.svg" alt="img">
                     </div>
                 
                     <div class="jenifer-text">
                          <p class="jenn">Emeto winner </p>
                          <p class="des">Backend Developer, Payments</p>
                     </div>
 
                     <div class="check1">
                          <input type="checkbox" class="checkk">
                     </div>
 
                 </div>
            </div>


            <!-- fourth person -->

            <div class="first-person">
                <div class="imagetext-check">
 
                    <div class="imagee">
                           <img class="img-12" src="../images/PIC4.svg" alt="img">
                     </div>
                 
                     <div class="jenifer-text">
                          <p class="jenn">Jane mena </p>
                          <p class="des">Technical specialist, Enterprise</p>
                     </div>
 
                     <div class="check1">
                          <input type="checkbox" class="checkk">
                     </div>
 
                 </div>
            </div>

            <!-- fiveth person -->

            <div class="first-person">
                <div class="imagetext-check">
 
                    <div class="imagee">
                           <img class="img-12" src="../images/PIC5.svg" alt="img">
                     </div>
                 
                     <div class="jenifer-text">
                          <p class="jenn">Kate Magnamay</p>
                          <p class="des">Product Manger, Dashboard</p>
                     </div>
 
                     <div class="check1">
                          <input type="checkbox" class="checkk">
                     </div>
 
                 </div>
            </div>
        </div>
     </div>
   


    <script src='../js/script.js'></script>

</body>
</html>